---
import Navigation from '../components/Navigation.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import '../style/global.css';
import BlurTitle from '../components/blurTitle.jsx';
import TextPressure from '../components/TextPressure ';
import DecryptedText from '../components/DecryptedText';
import ScrollFloat from '../components/ScrollFloat.jsx';

---

<Layout
  style={{
    backgroundColor: '#2e2e2e',
    minHeight: '100vh',
    width: '100%',
    margin: 0,
    padding: 0,
    boxSizing: 'border-box',
  }}
>

    <div style={{ position: 'relative', height: 'auto' }}>
      <TextPressure
        text="WELCOME"
        flex={true}
        alpha={false}
        stroke={false}
        width={true}
        weight={true}
        italic={true}
        textColor="#ffffff"
        strokeColor="#ff0000"
        minFontSize={36}
        client:visible
      />

      <!-- Contenuto principale -->
      <div
        style={{
          display: 'flex',
          flexWrap: 'wrap',
          marginTop: '20px',
          width: '100%',
          height: 'auto',
        }}
      >
        <!-- Parte sinistra -->
        <div
          style={{
            flex: '1 1 50%',
            minHeight: '200px',
            display: 'flex',
            flexDirection: 'column',
            justifyContent: 'center',
            alignItems: 'center',
            padding: '1rem',
            color: 'white',
          }}
        >
          <BlurTitle title="Profile" client:load />
		  
          <DecryptedText
            text="Name : Matteo"
            animateOn="view"
            speed={5}
            sequential={true}
            className="text-white"
            encryptedClassName="text-red-500"
            client:visible
          />
		  <DecryptedText
            text="Surname : Lucarelli"
            animateOn="view"
            speed={10}
            sequential={true}
            className="text-white"
            encryptedClassName="text-red-500"
			
            client:visible
          />
		    <DecryptedText
            text="Date of Birth : 12/07/2000"
            animateOn="view"
            speed={10}
            sequential={true}
            className="text-white"
            encryptedClassName="text-red-500"
            client:visible
          />
        </div>

        <!-- Parte destra -->
        <div
          style={{
            flex: '1 1 50%',
            minHeight: '200px',
            display: 'flex',
            flexDirection: 'column',
            justifyContent: 'center',
            alignItems: 'center',
            padding: '1rem',
            color: 'black',
          }}
        >
          <img
            src="src/img/fototessera.jpg"
            alt="Foto profilo"
            style={{
              width: '300px',
              height: '300px',
              borderRadius: '70%',
              objectFit: 'cover',
              marginBottom: '2rem',
              boxShadow: '0 0 50px rgba(0,0,0,0.5)',
            }}
          />
        </div>
      </div>
    </div>
	 <div
       style={{
    display: 'flex',
    flexDirection: 'column', // << IMPORTANTE
    flexWrap: 'wrap',
    marginTop: '20px',
    width: '100%',
    height: 'auto',
    justifyContent: 'center',
    alignItems: 'center',
    padding: '1rem',
    gap: '1rem', // Spaziatura tra i componenti
        }}>
		<BlurTitle title="My experience" client:load />
		<p margin>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
	</div>
		


</Layout>
