---
import Navigation from '../components/Navigation.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import '../style/global.css';
import BlurTitle from '../components/blurTitle.jsx';
import TextPressure from '../components/TextPressure ';
import DecryptedText from '../components/DecryptedText';
import Navbar from '../components/Navbar.jsx';
import Blurp from '../components/blurp.jsx';


---

<Layout
  style={{
    backgroundColor: '#2e2e2e',
    minHeight: '100vh',
    width: '100%',
    margin: 0,
    padding: 0,
    boxSizing: 'border-box',
  }}
>

    <div style={{ position: 'relative', height: 'auto',paddingTop: '70px' }}>
      <TextPressure
        text="WELCOME"
        flex={true}
        alpha={false}
        stroke={false}
        width={true}
        weight={true}
        italic={true}
        textColor="#ffffff"
        strokeColor="#ff0000"
        minFontSize={36}
        client:visible
      />

      <!-- Contenuto principale -->
      <div
        style={{
          display: 'flex',
          flexWrap: 'wrap',
          marginTop: '20px',
          width: '100%',
          height: 'auto',
        }}
      >
        <!-- Parte sinistra -->
        <div
          style={{
            flex: '1 1 50%',
            minHeight: '200px',
            display: 'flex',
            flexDirection: 'column',
            justifyContent: 'center',
            alignItems: 'center',
            padding: '1rem',
            color: 'white',
          }}
        >
          <BlurTitle title="Profile" client:load />
		  <Navbar client:only="react" />
          <DecryptedText
            text="Name : Matteo"
            animateOn="view"
            speed={5}
            sequential={true}
            className="text-white"
            encryptedClassName="text-red-500"
            client:visible
          />
		  <DecryptedText
            text="Surname : Lucarelli"
            animateOn="view"
            speed={10}
            sequential={true}
            className="text-white"
            encryptedClassName="text-red-500"
			
            client:visible
          />
		    <DecryptedText
            text="Date of Birth : 12/07/2000"
            animateOn="view"
            speed={10}
            sequential={true}
            className="text-white"
            encryptedClassName="text-red-500"
            client:visible
          />
        </div>

        <!-- Parte destra -->
        <div
          style={{
            flex: '1 1 50%',
            minHeight: '200px',
            display: 'flex',
            flexDirection: 'column',
            justifyContent: 'center',
            alignItems: 'center',
            padding: '1rem',
            color: 'black',
          }}
        >
          <img
             src="/fototessera.jpg"
             alt="Foto profilo"
            style={{
              width: '300px',
              height: '300px',
              borderRadius: '70%',
              objectFit: 'cover',
              marginBottom: '2rem',
              boxShadow: '0 0 50px rgba(0,0,0,0.5)',
            }}
          />
        </div>
      </div>
    </div>
	 <div
       style={{
    display: 'flex',
    flexDirection: 'column', // << IMPORTANTE
    flexWrap: 'wrap',
    marginTop: '20px',
    width: '100%',
    height: 'auto',
    justifyContent: 'center',
    alignItems: 'center',
    padding: '1rem',
    gap: '1rem', // Spaziatura tra i componenti
        }}>
		<BlurTitle title="My story in brief" client:load />
		<Blurp title="Hello, my name is Matteo. From a very young age, I have been deeply curious about the world of technology and computing. This passion led me to attend a technical institute specializing in electronics and electrical engineering, where I built a solid foundation of technical and scientific knowledge. During my studies, I also gained valuable transversal skills working as a basketball referee. This role allowed me to travel extensively and taught me how to make quick, accurate decisions under pressure while managing high-stress situations calmly and professionally. After two challenging years marked by the pandemic, I worked as a warehouse associate at Amazon. This experience helped me understand the importance of logistics, efficient time management, and teamwork. Driven by my desire to pursue what I truly love, I enrolled in an intensive 6-month course focused primarily on web development using C#. At the end of the course, I completed a 3-month internship at Indra Minsait, where I had the opportunity to apply my skills in a real professional environment. Thanks to my dedication and growth, after a year of contract work, I was offered a permanent position at the company, marking the beginning of my career in the IT sector" client:load />
	</div>
		


</Layout>
